In [11]:

from bs4 import BeautifulSoup
import requests
import time
import datetime
import smtplib

In [12]:
# Connect to Website and pull in data

URL = 'https://www.amazon.com/Analyst-Graduate-Career-Professional-Spreadsheet/dp/B0C1M17KKT/ref=sr_1_1?crid=K0UPPX4X7VBN&dib=eyJ2IjoiMSJ9.KEhZNoiS_9aZRnvUMTy2C26JZRiMC8bzx4SJEq-8rK0U1vLgHYFAKwjF1tGsnLgfgt4pp3dyyDb1o0iuK_lsmghsv3iTLLcdA0kRs9qzxGWXvMx3FDxuRoTGmczrYWfdcsuadjpTQfVCf9cmxzS450_qjZGI9d3FSEez5tYG8u4uFMd2Q8LhoOLNvsRCLHqPVLkpejxk8ehXYcbMOCmsXFfZtzR7rHpfZ2O_7G-kOaXZPQcENZvXQxP4bspEda7wI36yTmWQTfbrEBe9vGlV1UUJf1OtVYmnsIomqwPlbpU.BWxeZIw08-hyIRo_8gfy0I1KiOLzvKx4rn6-ms9gIYc&dib_tag=se&keywords=data%2Banalyst%2Btshirt&qid=1713765870&sprefix=data%2Banalyst%2Caps%2C714&sr=8-1&th=1'

In [18]:
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko)  Chrome/124.0.0.0 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}
page = requests.get(URL, headers=headers)
soup1 = BeautifulSoup(page.content, "html.parser")
soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

title = soup2.find(id='productTitle').get_text()
price = soup2.find(class_='a-offscreen').get_text()
print(title)
print(price)

                    Data Analyst T Shirt Funny Gift for Data Analyst Graduate Career Professional Data Analyst Spreadsheet Unisex Tee


                        $23.97

In [25]:
# Create a Timestamp for your output to track when data was collected

import datetime

today = datetime.date.today()

print(today)

2024-04-22

In [21]:
price.strip()[1:]

'23.97'

In [29]:
import csv
header = ['title','price','date']
data = [title, price, today]
with open('AmazonWebScraperDataset.csv', 'w', newline='', encoding='UTF8') as f:
            writer = csv.writer(f)
            writer.writerow(header)
            writer.writerow(data)

In [37]:
import pandas as pd
df=pd.read_csv(r"C:\Users\Kaleab\AmazonWebScraperDataset.csv")

In [38]:
df

,title,price,date
0,\n Data Analyst T Shirt Fun...,\n $23.97\n ...,2024-04-22
1,\n Data Analyst T Shirt Fun...,\n $23.97\n ...,2024-04-22
2,\n Data Analyst T Shirt Fun...,\n $23.97\n ...,2024-04-22
3,\n Data Analyst T Shirt Fun...,\n $23.97\n ...,2024-04-22

In [35]:
# we are iterating the data again and again
with open('AmazonWebScraperDataset.csv', 'a+', newline='', encoding='UTF8') as f:
            writer = csv.writer(f)       
            writer.writerow(data)

In [ ]:

def check_price():
    
    URL = 'https://www.amazon.com/Analyst-Graduate-Career-Professional-Spreadsheet/dp/B0C1M17KKT/ref=sr_1_1?crid=K0UPPX4X7VBN&dib=eyJ2IjoiMSJ9.KEhZNoiS_9aZRnvUMTy2C26JZRiMC8bzx4SJEq-8rK0U1vLgHYFAKwjF1tGsnLgfgt4pp3dyyDb1o0iuK_lsmghsv3iTLLcdA0kRs9qzxGWXvMx3FDxuRoTGmczrYWfdcsuadjpTQfVCf9cmxzS450_qjZGI9d3FSEez5tYG8u4uFMd2Q8LhoOLNvsRCLHqPVLkpejxk8ehXYcbMOCmsXFfZtzR7rHpfZ2O_7G-kOaXZPQcENZvXQxP4bspEda7wI36yTmWQTfbrEBe9vGlV1UUJf1OtVYmnsIomqwPlbpU.BWxeZIw08-hyIRo_8gfy0I1KiOLzvKx4rn6-ms9gIYc&dib_tag=se&keywords=data%2Banalyst%2Btshirt&qid=1713765870&sprefix=data%2Banalyst%2Caps%2C714&sr=8-1&th=1'
    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko)  Chrome/124.0.0.0 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}


    page = requests.get(URL, headers=headers)

    soup1 = BeautifulSoup(page.content, "html.parser")

    soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

    title = soup2.find(id='productTitle').get_text()
    price = soup2.find(class_='a-offscreen').get_text()

    price = price.strip()[1:]
    title = title.strip()

    import datetime

    today = datetime.date.today()
    
    import csv 

    header = ['Title', 'Price', 'Date']
    data = [title, price, today]

    with open('AmazonWebScraperDataset.csv', 'a+', newline='', encoding='UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

In [ ]:
# this wev scraping run for 10 hr
while(True):
    check_price()
    time.sleep(36000)

In [ ]:
import pandas as pd
df=pd.read_csv(r"C:\Users\Kaleab\AmazonWebScraperDataset.csv")

In [ ]:
df

In [ ]:
# If uou want to try sending yourself an email (just for fun) when a price hits below a certain level you can try it
# out with this script

def send_mail():
    server = smtplib.SMTP_SSL('smtp.gmail.com',465)
    server.ehlo()
    #server.starttls()
    server.ehlo()
    server.login('kaleabgirma2143@gmail.com','xxxxxxxxxxxxx.')
    
    subject = "The Shirt you want is below $15! Now is your chance to buy!"
    body = "Kaleab, This is the moment we have been waiting for. Now is your chance to pick up the shirt of your dreams. Don't mess it up! Link here: https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data+analyst+tshirt&qid=1626655184&sr=8-3"
   
    msg = f"Subject: {subject}\n\n{body}"
    
    server.sendmail(
        'kaleabgirma2143@gmail.com',
        msg
     
    )